# Local infra state & secrets
pulumi/.secrets.local
pulumi/.pulumi-state/

# Pulumi pg_database files
pulumi/keycloak/backup/**

# Python virtualenv/cache (Pulumi projects)
pulumi/**/venv/
pulumi/**/.venv/
pulumi/**/__pycache__/
pulumi/**/.pytest_cache/

# Maven cache
.m2/

# Local Python venvs
.venvs/

# Java/Maven build outputs & IDEs
**/target/
.mvn/wrapper/maven-wrapper.jar
**/.classpath
**/.project
**/.settings/
**/.idea/
**/*.iws
**/*.iml
**/*.ipr
**/.vscode/

# Node/Vite build outputs & caches
**/node_modules/
**/dist/
**/.vite/
**/.cache/
**/.parcel-cache/
**/coverage/
**/.eslintcache
**/.stylelintcache
**/.pnp*
**/.pnpm-store/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Local env files
**/.env
**/.env.*
!**/.env.example
!**/.env.sample

# OS files
.DS_Store
Thumbs.db

# Local services not in Git (for now)
npm/
portainer/
actions-runner/

# Pulumi Keycloak local artifacts/backups
pulumi/keycloak/backup/
pulumi/keycloak/keycloak-email-spi/target/
pulumi/keycloak/keycloak-email-spi/.github/java-upgrade/
pulumi/keycloak/keycloak-email-spi/.DS_Store
pulumi/keycloak/keycloak-email-spi/.github/
pulumi/keycloak/kc-export/
pulumi/keycloak/extensions/*.jar
