OAUTH2_PROXY_HTTP_ADDRESS=0.0.0.0:4180
OAUTH2_PROXY_PROVIDER=keycloak
OAUTH2_PROXY_CLIENT_ID=admin-ui-dev
OAUTH2_PROXY_CLIENT_SECRET=replace-me
OAUTH2_PROXY_COOKIE_SECRET=replace-me
OAUTH2_PROXY_COOKIE_NAME=_oauth2_proxy_cloud_gaming_dev
OAUTH2_PROXY_COOKIE_SECURE=true
OAUTH2_PROXY_COOKIE_SAMESITE=lax
OAUTH2_PROXY_EMAIL_DOMAINS=*
OAUTH2_PROXY_REVERSE_PROXY=true
OAUTH2_PROXY_SKIP_PROVIDER_BUTTON=true
OAUTH2_PROXY_PASS_USER_HEADERS=true
OAUTH2_PROXY_SET_XAUTHREQUEST=true
OAUTH2_PROXY_SCOPE=openid profile email
OAUTH2_PROXY_REDIRECT_URL=https://cloud-dev.rodrigodsiqueira.dev.br:8443/oauth2/callback
OAUTH2_PROXY_UPSTREAMS=http://digao-cloud-gaming-web:80
OAUTH2_PROXY_LOGIN_URL=https://kc-dev.rodrigodsiqueira.dev.br:8443/realms/digao-oauth-dev/protocol/openid-connect/auth
OAUTH2_PROXY_REDEEM_URL=https://kc-dev.rodrigodsiqueira.dev.br:8443/realms/digao-oauth-dev/protocol/openid-connect/token
OAUTH2_PROXY_PROFILE_URL=https://kc-dev.rodrigodsiqueira.dev.br:8443/realms/digao-oauth-dev/protocol/openid-connect/userinfo
OAUTH2_PROXY_VALIDATE_URL=https://kc-dev.rodrigodsiqueira.dev.br:8443/realms/digao-oauth-dev/protocol/openid-connect/userinfo
