server:
  port: 8082

spring:
  application:
    name: notification-service

  mail:
    host: smtp.zoho.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  rabbitmq:
    port: 5672
    username: ${RABBIT_USER:user}
    password: ${RABBIT_PASS:password}
    host: ${RABBIT_HOST:localhost}

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: 6379

digao:
  rabbitmq:
    exchange: ${RABBIT_EXCHANGE}
    routingkey: ${RABBIT_ROUTING_KEY}
    queue: ${RABBIT_QUEUE}
    